/**
 * @author Tornike Bakuradze <tokobakuradze@gmail.com>.
 */

:root {
    --primary-base-color: #{$default-primary-base-color};
    --primary-dark-color: #{$default-primary-dark-color};
    --primary-light-color: #{$default-primary-light-color};
    --secondary-base-color: #{$default-secondary-base-color};
    --secondary-dark-color: #{$default-secondary-dark-color};
    --secondary-light-color: #{$default-secondary-light-color};
    --default-green-color: #{$default-green-color};
    --default-light-green-color: #{$default-light-green-color};
    --primary-error-color: #dc6d6d;
}

