{
    "presets": ["@babel/env", "@babel/typescript", "@babel/react"],
    "plugins": [
        "@babel/proposal-class-properties",
        "@babel/proposal-object-rest-spread",
        "transform-rebem-jsx",
        [
            "module-resolver",
            {
                "root": "./resources/app/",
                "alias": {
                    "Component": "./resources/app/component/",
                    "Route": "./resources/app/route/",
                    "Query": "./resources/app/query/",
                    "Store": "./resources/app/store/",
                    "Helper": "./resources/app/helper/",
                    "Type": "./resources/app/type/",
                    "Style": "./resources/app/style/"
                }
            }
        ]
    ]
}
