/**
 * @author Tornike Bakuradze <tokobakuradze@gmail.com>.
 */

:root {
    --primary-base-color: #{$default-primary-base-color};
    --primary-dark-color: #{$default-primary-dark-color};
    --browser-navbar-height: 56px;
}

