/**
 * @author Tornike Bakuradze <tokobakuradze@gmail.com>
 */

@keyframes PlaceholderShimmer {
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

@mixin animate-background($background-color: #222, $line-color: #444, $animation-duration: 1s) {
    animation-duration: $animation-duration;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: PlaceholderShimmer;
    animation-timing-function: linear;
    background: var(--animated-background-color);
    background: linear-gradient(to right, $background-color 8%, $line-color 18%, $background-color 33%);
    background-size: 800px 104px;
}
