/**
 * @author Tornike Bakuradze <tokobakuradze@gmail.com>
 */

$default-primary-base-color: white;
$default-primary-dark-color: black;
$font-helvetica: 'Helvetica', sans-serif;
$font-standard-size: 14px;
$font-mobile-size: 16px;
