/**
 * @author Tornike Bakuradze <tokobakuradze@gmail.com>
 */

$white: #fff;
$black: #0b0204;
$default-primary-base-color: #582391;
$default-primary-dark-color: #582391;
$default-primary-light-color: #bc9dca;
$default-secondary-base-color: #eee;
$default-secondary-dark-color: #939598;
$default-secondary-light-color: #f8f8f8;
$default-green-color: #39b54a;
$default-light-green-color: #c4df9b;
$font-helvetica: 'Helvetica', sans-serif;
$font-standard-size: 12px;
$font-mobile-size: 14px;
